<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD User Interface for Client Relationship Management REST API</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css"/>  
</head>
<body>
  <div class="container"> <!-- class="table-responsive text-nowrap -->
    <h2><a class="breadcrumb-item text-dark" href="/">Physio Session Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>

    <!-- Search the Results (Session) Colection  -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-search"></i></label>
            <select class="custom-select" id="fieldSearchSelect">
                <option value="1" selected>Client ID</option>
                <option value="2">Physio ID</option>
                <option value="3">Session Date</option>
                <option value="4">Sessipn Time</option>
                <option value="5">Session Type</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Filter Clients IDs..." id="tableFilter"> 
    </div>

    <!-- Session Table -->
    <table class="table table-hover table-striped" id="sessionList">
      <thead>
        <tr>  
          <th style="width: 20%">Client ID</th>
          <th style="width: 20%">Physio ID</th>
          <th style="width: 15%">Session Date</th>
          <th style="width: 15%">Session Time</th>
          <th style="width: 20%">Session Type</th>
          <th style="width: 20%">Session Fee</th>
          <th style="width: 20%">Session Number</th>
          <th style="width: 15%">Session Duration</th>
          <th style="width: 30%">Session Notes</th>
          <th class="text-center" style="width: 15%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr >
          <td style="width: 20%">"{{clientId}}"</td>
          <td style="width: 20%">{{physioId}</td>
          <td style="width: 20%">{{sessionDate}}</td>
          <td style="width: 20%">{{sessionTime}}</td>
          <td style="width: 20%">{{type}}</td>
          <td style="width: 20%">{{fee}}</td>
          <td style="width: 20%">{{sessionNum}}</td>
          <td style="width: 20%">{{duration}}</td>
          <td style="width: 20%">{{notes}}</td>
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update" data-clientId="{{ clientId }}" data-physioId="{{ physioId }}" data-sessionDate="{{ sessionDate }}" data-sessionTime="{{sessionTime }}" data-type="{{ type }}" data-fee="{{ fee }}" data-sessionNum="{{ sessionNum }}" data-duration="{{duration }} " data-notes="{{ notes }}">Update</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-clientId="{{ clientId }}" data-physioId="{{ physioId }}" data-sessionDate="{{ sessionDate }}" data-sessionTime="{{ sessionTime }}" data-type="{{ type }}" data-fee="{{ fee }}" data-sessionNum="{{ sessionNum }}" data-duration="{{duration }} " data-notes="{{ notes }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Database Search -->
    <div class="input-group mb-3">
        <!-- Add Session Button  -->
        <button class="btn btn-primary mr-5" data-toggle="modal" data-target="#addModal">Add</button>
        <!-- Search the Database (Session) -->
        <div class="input-group-prepend">
             <select class="custom-select" id="databaseSearchSelect">
                <option value="1" selected>Client ID</option>
                <option value="2">Physio ID</option>
                <option value="3">Session Date</option>
                <option value="4">Sessipn Time</option>
                <option value="5">Session Type</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Find in Database ..." id="databaseSearchFilter"> 
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="databaseSearch">Find</button>
        </div>
    </div>

    <!-- Modal Add Session-->
    <form id="addForm" action="/session" method="POST">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Physio</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                 <div class="form-group">
                   <input type="text" name="clientId" class="form-control" placeholder="Client ID" required>
               </div>
               <div class="form-group">
                   <input type="text" name="physioId" class="form-control" placeholder="Physio ID" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sessionDate" class="form-control" placeholder="Session Date" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sessionTime" class="form-control" placeholder="Session Time" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sessionNum" class="form-control" placeholder="Session Number" required>
               </div>
               <div class="form-group">
                   <input type="text" name="type" class="form-control" placeholder="Session Type" required>
               </div>
               <div class="form-group">
                   <input type="text" name="fee" class="form-control" placeholder="Price" required>
               </div>
               <div class="form-group">
                   <input type="text" name="duration" class="form-control" placeholder="Duration of Session" required>
               </div>
               <div class="form-group">
                   <input type="text" name="notes" class="form-control" placeholder="Notes">
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
    </form>

    <!-- Modal Update Session -->
    <form id="updateForm" action="/session" method="PUT"> 
       <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Session</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                   <input type="text" name="clientId" class="form-control" placeholder="Client ID" required>
               </div>
               <div class="form-group">
                   <input type="text" name="physioId" class="form-control" placeholder="Physio ID" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sessionDate" class="form-control" placeholder="Session Date" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sessionTime" class="form-control" placeholder="Session Time" required>
               </div>
               <div class="form-group">
                   <input type="text" name="type" class="form-control" placeholder="Session Type" required>
               </div>
               <div class="form-group">
                   <input type="text" name="fee" class="form-control" placeholder="Price of Session" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sessionNum" class="form-control" placeholder="Session Num" required>
               </div>
               <div class="form-group">
                   <input type="text" name="duration" class="form-control" placeholder="Session Duration">
               </div>
               <div class="form-group">
                   <input type="text" name="notes" class="form-control" placeholder="Notes" required>
               </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="sessionId" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
    </form>

    <!-- Modal Delete Session-->
    <form id="deleteForm" action="/session" method="DELETE"> 
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Session</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Are you sure you want to delete this session?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="fname" class="form-control fname" required>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Operation Successful Alert Modal -->
    <div class="modal fade" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-success" role="alert">
                <strong>Success!</strong> RESTful Operation was completed!
            </div>
        </div>
    </div>

    <!-- Operation Unsuccessful Alert Modal -->
    <div class="modal fade" id="errorAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" role="alert">
                <strong>Unsuccessful!</strong> RESTful Operation was not completed!
            </div>
        </div>
    </div>
 </div>
 
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        //
        // Handle Add Modal form submit using AJAX PUT
        //
        var addForm = $("#addForm");
        addForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            $.ajax({
                type: addForm.attr('method'),
                url:  addForm.attr('action'),
                data: addForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#addModal').modal('hide');
        });
        //
        // Set up the Update Modal - It is shown, and data passed, via button click
        //
        $('#sessionList').on('click','.update',function(){
            var session_id = $(this).data('id');
            var session_clientId = $(this).data('clientId');
            var session_physioId = $(this).data('physioId');
            var session_date = $(this).data('sessionDate');
            var session_time = $(this).data('sessionTime');
            var session_type = $(this).data('type');
            var session_fee = $(this).data('fee');
            var session_duration = $(this).data('duration');
            var session_number = $(this).data('sessionNum');
            var session_notes = $(this).data('notes');
            // alert session info;
            $('#updateModal').modal('show');
            $('.clientId').val(sesion_clientId);
            $('.physioId').val(session_physioId);
            $('.sessionDate').val(session_date);
            $('.sessionTime').val(session_time);
            $('.type').val(session_type);
            $('.fee').val(session_fee);
            $('.duration').val(session_duration);
            $('.sessionNum').val(session_number);
            $('.notes').val(session_notes);
        });
        //
        // Handle Update Modal form submit using AJAX PUT
        //
        var updateForm = $("#updateForm");
        updateForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            var id = updateForm.find('input[name="sessionId"]').val();    
            $.ajax({
                type: updateForm.attr('method'),
                url:  updateForm.attr('action')+"/"+id,
                data: updateForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#updateModal').modal('hide');
        });
        //
        // Set up the Delete Modal - It is shown, and data passed, via button click
        //
        $('#sessionList').on('click','.delete',function(){
            var session_id = $(this).data('id');
            //remind the user which session they are deleting
            var session_id = $(this).data('id');
            var session_clientId = $(this).data('clientId');
            var session_physioId = $(this).data('physioId');
            var session_date = $(this).data('sessionDate');
            var session_time = $(this).data('sessionTime');
            var session_type = $(this).data('type');
            var session_fee = $(this).data('fee');
            var session_duration = $(this).data('duration');
            var session_number = $(this).data('sessionNum');
            var session_notes = $(this).data('notes');
            $("#deleteModal .modal-body").html("<span class=\"font-weight-bold\">Are you sure you want to delete Session of: </span><span class=\"font-italic\">"+session_client + " with physio: " + session_physio +"</span><span class=\"font-weight-bold\">?</span>");
            $('#deleteModal').modal('show');
            $('.id').val(session_id);
        });
        //
        // Handle Delete Modal form submit using AJAX DELETE
        //
        var deleteForm = $("#deleteForm");
        deleteForm.submit(function(e){
            // make everything look like a Single Page Application
            // consuming the RESTful API routes based on user selection
            e.preventDefault();  // prevent handling the normal form submit click!
            var id = deleteForm.find('input[name="sessionId"]').val();   
            $.ajax({
                type: deleteForm.attr('method'),
                url:  deleteForm.attr('action')+"/"+id,
                success: function (data) {
                    console.log('Deletion successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#deleteModal').modal('hide');
        });
        //
        // Search: Field Selection
        //
        $("#fieldSearchSelect").on('change',function() {
            var k = $(this).val();
            if (k == 1) {
                $("#tableFilter").attr("placeholder", "Filter Client IDs ...");
            }  if (k == 2) {
                $("#tableFilter").attr("placeholder", "Filter Physio IDs ...");
            }if (k == 3) {
                $("#tableFilter").attr("placeholder", "Filter Session Date ...");
            }if (k == 4) {
                $("#tableFilter").attr("placeholder", "Filter Session Time ...");
            }else {
                $("#tableFilter").attr("placeholder", "Filter Session Type ...");
            } 
            $("#tableFilter").keyup();
        });
        //
        // Search: Table Filter
        //
        $("#tableFilter").keyup(function(){
            var filter = $(this).val().toUpperCase(); 
            $("#sessionList").find('tr').each(function(rows) {
                if (rows !==  0) {
                    var row = $(this);
                    var searching = "";
                    if ($("#fieldSearchSelect").val() == 1) {
                        searching = row.find("td:first").text().toUpperCase();
                    }  else  {
                        searching = row.find("td:first + td").text().toUpperCase();
                    }
                    if (searching.indexOf(filter) != -1) {               
                        row.show();
                    } else {
                        row.hide();
                    }
                }
            });
        });
        //
        // Search: Database search
        //
        $("#databaseSearch").on('click',function() {
            var search = $("#databaseSearchFilter").val().replace(/[|&;$%@"<>()+,^  ]/g, "");
            if (search) {
                $(location).attr('href', '/'+$("#databaseSearchSelect").val()+'/'+search);
            } else {
                $(location).attr('href', '/');
            }
        });
        //
        //  If there is a database filter then add a badge
        //
        if ($(location).attr('pathname') !== '/') {
           $('#databaseFilterNotice').text("("+$(location).attr('pathname')+")");
        }
    });
</script>
</body>
</html>