<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD User Interface for Customer REST API</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css"/>  
</head>
<body>
  <div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
    <h2><a class="breadcrumb-item text-dark" href="/">Phone Store Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>

    <!-- Search the Results (Customer) Table  -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-search"></i></label>
            <select class="custom-select" id="fieldSearchSelect">
                <option value="1" selected>First Name</option>
                <option value="2">Surname</option>
                <option value="3">Email</option>
                <option value="4">Mobile</option>
                <option value="5">Bil Address</option>
                <option value="6">Ship Address</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Filter First Names..." id="tableFilter"> 
    </div>

    <!-- Customer Table -->
    <table class="table table-hover table-striped" id="custList">
      <thead>
        <tr>  <!-- <tr class="d-flex"> -->
          <th style="width: 20%">First Name</th>
          <th style="width: 20%">Surname</th>
          <th style="width: 20%">Email</th>
          <th style="width: 20%">Mobile</th>
          <th style="width: 20%">Billing Address</th>
          <th style="width: 20%">Shipping Address</th>
          <th class="text-center" style="width: 15%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr >
          <td style="width: 20%">"{{fname}}"</td>
          <td style="width: 20%">{{lname}}</td>
          <td style="width: 20%">{{email}}</td>
          <td style="width: 20%">{{mobile}}</td>
          <td style="width: 20%">{{address}}</td>
          <td style="width: 20%">{{shippAdd}}</td>
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update" data-fname="{{ fname }}" data-lname="{{ lname }}" data-email="{{ email }}" data-mobile="{{ mobile }}" data-address="{{ address }}" data-shipAdd="{{ shipAdd }}">Update</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-fname="{{ fname }}" data-lname="{{ lname }}" data-email="{{ email }}" data-mobile="{{ mobile }}" data-address="{{ address }}" data-shipAdd="{{ shipAdd }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Database Search -->
    <div class="input-group mb-3">
        <!-- Add Customer Button  -->
        <button class="btn btn-primary mr-5" data-toggle="modal" data-target="#addModal">Add</button>
        <!-- Search the Database (Customers) -->
        <div class="input-group-prepend">
             <select class="custom-select" id="databaseSearchSelect">
                <option value="fname" selected>First Name</option>
                <option value="lname">Surname</option>
                <option value="email">Email</option>
                <option value="mobile">Mobile</option>
                <option value="address">Bill Address</option>
                <option value="shipAdd">Ship Address</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Find in Database ..." id="databaseSearchFilter"> 
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="databaseSearch">Find</button>
        </div>
    </div>

    <!-- Modal Add Customer-->
    <form id="addForm" action="/CustDets" method="POST">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="fname" class="form-control" placeholder="First Name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="lname" class="form-control" placeholder="Surname" required>
               </div>
               <div class="form-group">
                   <input type="text" name="email" class="form-control" placeholder="Email" required>
               </div>
               <div class="form-group">
                   <input type="text" name="mobile" class="form-control" placeholder="Mobile" required>
               </div>
               <div class="form-group">
                   <input type="text" name="address" class="form-control" placeholder="Billing Address" required>
               </div>
               <div class="form-group">
                   <input type="text" name="shipAdd" class="form-control" placeholder="Shipping Address" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
    </form>

    <!-- Modal Update Customer -->
    <form id="updateForm" action="/CustDets" method="PUT"> <!-- we can't PUT with HTML form - this is just an attribute  picked up by AjAX -->
       <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Customer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="fname" class="form-control fname" placeholder="First Name" required>
              </div>
              <div class="form-group">
                  <input type="text" name="lname" class="form-control lname" placeholder="Surname" required>
              </div>
              <div class="form-group">
                  <input type="text" name="email" class="form-control price" placeholder="Email" required>
              </div>
              <div class="form-group">
                  <input type="text" name="mobile" class="form-control mobile" placeholder="Mobile" required>
              </div>
              <div class="form-group">
                  <input type="text" name="address" class="form-control address" placeholder="Billing Adress" required>
              </div>
              <div class="form-group">
                  <input type="text" name="shipAdd" class="form-control shipAdd" placeholder="Shipping Address" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="CustId" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
    </form>

    <!-- Modal Delete Customer-->
    <form id="deleteForm" action="/CustDets" method="DELETE"> <!-- we can't DELETE with HTML form - this is just an attribute  picked up by AjAX -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Are you sure you want to delete this Customer?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="CustId" class="form-control id" required>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Operation Successful Alert Modal -->
    <div class="modal fade" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-success" role="alert">
                <strong>Oh Great!</strong> RESTful Operation was Successful!
            </div>
        </div>
    </div>

    <!-- Operation Unsuccessful Alert Modal -->
    <div class="modal fade" id="errorAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" role="alert">
                <strong>Oh No!</strong> RESTful Operation was Unsuccessful!
            </div>
        </div>
    </div>
 </div>
 
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        //
        // Handle Add Modal form submit using AJAX PUT
        //
        var addForm = $("#addForm");
        addForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            $.ajax({
                type: addForm.attr('method'),
                url:  addForm.attr('action'),
                data: addForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#addModal').modal('hide');
        });
        //
        // Set up the Update Modal - It is shown, and data passed, via button click
        //
        $('#custList').on('click','.update',function(){
            var cust_id = $(this).data('id');
            var cust_fname = $(this).data('fname');
            var cust_lname = $(this).data('lname');
            var cust_email = $(this).data('email');
            var cust_mobile = $(this).data('mobile');
            var cust_address = $(this).data('address');
            var cust_shipAdd = $(this).data('shipAdd');
            // alert (quotation_id+": "+ quotation_quote+" "+quotation_author);
            $('#updateModal').modal('show');
            $('.fname').val(cust_fname);
            $('.lname').val(cust_lname);
            $('.email').val(cust_email);
            $('.id').val(cust_mobile);
            $('.id').val(cust_address);
            $('.id').val(cust_shipAdd);
            $('.id').val(cust_id);
        });
        //
        // Handle Update Modal form submit using AJAX PUT
        //
        var updateForm = $("#updateForm");
        updateForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            var id = updateForm.find('input[name="CustId"]').val();    
            $.ajax({
                type: updateForm.attr('method'),
                url:  updateForm.attr('action')+"/"+id,
                data: updateForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#updateModal').modal('hide');
        });
        //
        // Set up the Delete Modal - It is shown, and data passed, via button click
        //
        $('#custList').on('click','.delete',function(){
            var cust_id = $(this).data('id');
            // let's remind the user which phone they are deleting
            var cust_id = $(this).data('id');
            var cust_fname = $(this).data('fname');
            var cust_lname = $(this).data('lname');
            var cust_email = $(this).data('email');
            var cust_mobile = $(this).data('mobile');
            var cust_address = $(this).data('address');
            var cust_shipAdd = $(this).data('shipAdd');
            $("#deleteModal .modal-body").html("<span class=\"font-weight-bold\">Are you sure you want to delete Customer: </span><span class=\"font-italic\">"+cust_fname+"... ("+cust_lname+")</span><span class=\"font-weight-bold\">?</span>");
            $('#deleteModal').modal('show');
            $('.id').val(cust_id);
        });
        //
        // Handle Delete Modal form submit using AJAX DELETE
        //
        var deleteForm = $("#deleteForm");
        deleteForm.submit(function(e){
            // make everything look like a Single Page Application
            // consuming the RESTful API routes based on user selection
            e.preventDefault();  // prevent handling the normal form submit click!
            var id = deleteForm.find('input[name="CustId"]').val();   
            $.ajax({
                type: deleteForm.attr('method'),
                url:  deleteForm.attr('action')+"/"+id,
                success: function (data) {
                    console.log('Deletion successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#deleteModal').modal('hide');
        });
        //
        // Search: Field Selection
        //
        $("#fieldSearchSelect").on('change',function() {
            var k = $(this).val();
            if (k == 1) {
                $("#tableFilter").attr("placeholder", "Filter First Names ...");
            }  if (k == 2) {
                $("#tableFilter").attr("placeholder", "FilterSurnames ...");
            }if (k == 3) {
                $("#tableFilter").attr("placeholder", "Filter Emails ...");
            }if (k == 4) {
                $("#tableFilter").attr("placeholder", "Filter Mobiles ...");
            }if (k == 5) {
                $("#tableFilter").attr("placeholder", "Filter Billing Address List ...");
            } else  {
                $("#tableFilter").attr("placeholder", "Filter Shipping Address List ...");
            }
            // $("#tableFilter").val("");
            $("#tableFilter").keyup();
        });
        //
        // Search: Table Filter
        //
        $("#tableFilter").keyup(function(){
            var filter = $(this).val().toUpperCase(); 
            $("#custList").find('tr').each(function(rows) {
                if (rows !==  0) {
                    var row = $(this);
                    var searching = "";
                    if ($("#fieldSearchSelect").val() == 1) {
                        searching = row.find("td:first").text().toUpperCase();
                    }  else  {
                        searching = row.find("td:first + td").text().toUpperCase();
                    }
                    if (searching.indexOf(filter) != -1) {               
                        row.show();
                    } else {
                        row.hide();
                    }
                }
            });
        });
        //
        // Search: Database search
        //
        $("#databaseSearch").on('click',function() {
            var search = $("#databaseSearchFilter").val().replace(/[|&;$%@"<>()+,^  ]/g, "");
            if (search) {
                $(location).attr('href', '/'+$("#databaseSearchSelect").val()+'/'+search);
            } else {
                $(location).attr('href', '/');
            }
        });
        //
        //  If there is a database filter then add a badge
        //
        if ($(location).attr('pathname') !== '/') {
           $('#databaseFilterNotice').text("("+$(location).attr('pathname')+")");
        }
    });
</script>
</body>
</html>