<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD User Interface for Phone REST API</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css"/>  
</head>
<body>
  <div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
    <h2><a class="breadcrumb-item text-dark" href="/">Phone Store Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>

    <!-- Search the Results (Phone) Table  -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-search"></i></label>
            <select class="custom-select" id="fieldSearchSelect">
                <option value="1" selected>Manufactuer</option>
                <option value="2">Model</option>
                <option value="3">Price</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Filter Manufactuer List ..." id="tableFilter"> 
    </div>

    <!-- Phone Table -->
    <table class="table table-hover table-striped" id="phonesList">
      <thead>
        <tr>  <!-- <tr class="d-flex"> -->
          <th style="width: 25%">Manufactuer</th>
          <th style="width: 25%">Model</th>
          <th style="width: 25%">Price</th>
          <th class="text-center" style="width: 15%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr >
          <td style="width: 25%">"{{manufactuer}}"</td>
          <td style="width: 25%">{{model}}</td>
          <td style="width: 25%">{{price}}</td>
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update" data-id="{{ id }}" data-manufactuer="{{ manufactuer }}" data-model="{{ model }}" data-price="{{ price }}">Update</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}" data-manufactuer="{{ manufactuer }}" data-model="{{ model }}" data-price="{{ price }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Database Search -->
    <div class="input-group mb-3">
        <!-- Add Phone Button  -->
        <button class="btn btn-primary mr-5" data-toggle="modal" data-target="#addModal">Add</button>
        <!-- Search the Database (Phones) -->
        <div class="input-group-prepend">
             <select class="custom-select" id="databaseSearchSelect">
                <option value="manufactuer" selected>Manufactuer</option>
                <option value="model">Model</option>
                <option value="price">Price</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Find in Database ..." id="databaseSearchFilter"> 
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="databaseSearch">Find</button>
        </div>
    </div>

    <!-- Modal Add Phone-->
    <form id="addForm" action="/PhoneDets" method="POST">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Phone</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="manufactuer" class="form-control" placeholder="Manufactuer" required>
               </div>
               <div class="form-group">
                   <input type="text" name="model" class="form-control" placeholder="Model" required>
               </div>
               <div class="form-group">
                   <input type="text" name="price" class="form-control" placeholder="Price" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
    </form>

    <!-- Modal Update Phone -->
    <form id="updateForm" action="/PhoneDets" method="PUT"> <!-- we can't PUT with HTML form - this is just an attribute  picked up by AjAX -->
       <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Phone</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="manufactuer" class="form-control manufactuer" placeholder="Manufactuer" required>
              </div>
              <div class="form-group">
                  <input type="text" name="model" class="form-control model" placeholder="Model" required>
              </div>
              <div class="form-group">
                  <input type="text" name="price" class="form-control price" placeholder="Price" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="PhoneId" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
    </form>

    <!-- Modal Delete Phone-->
    <form id="deleteForm" action="/PhoneDets" method="DELETE"> <!-- we can't DELETE with HTML form - this is just an attribute  picked up by AjAX -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Phone</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Are you sure you want to delete this Phone?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="phoneId" class="form-control id" required>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Operation Successful Alert Modal -->
    <div class="modal fade" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-success" role="alert">
                <strong>Oh Great!</strong> RESTful Operation was Successful!
            </div>
        </div>
    </div>

    <!-- Operation Unsuccessful Alert Modal -->
    <div class="modal fade" id="errorAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" role="alert">
                <strong>Oh No!</strong> RESTful Operation was Unsuccessful!
            </div>
        </div>
    </div>
 </div>
 
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        //
        // Handle Add Modal form submit using AJAX PUT
        //
        var addForm = $("#addForm");
        addForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            $.ajax({
                type: addForm.attr('method'),
                url:  addForm.attr('action'),
                data: addForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#addModal').modal('hide');
        });
        //
        // Set up the Update Modal - It is shown, and data passed, via button click
        //
        $('#phonesList').on('click','.update',function(){
            var phone_id = $(this).data('id');
            var phone_manufactuer = $(this).data('manufactuer');
            var phone_model = $(this).data('model');
            var phone_price = $(this).data('price');
            // alert (quotation_id+": "+ quotation_quote+" "+quotation_author);
            $('#updateModal').modal('show');
            $('.manufactuer').val(phone_manufactuer);
            $('.model').val(phone_model);
            $('.price').val(phone_price);
            $('.id').val(phone_id);
        });
        //
        // Handle Update Modal form submit using AJAX PUT
        //
        var updateForm = $("#updateForm");
        updateForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            var id = updateForm.find('input[name="phoneId"]').val();    
            $.ajax({
                type: updateForm.attr('method'),
                url:  updateForm.attr('action')+"/"+id,
                data: updateForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#updateModal').modal('hide');
        });
        //
        // Set up the Delete Modal - It is shown, and data passed, via button click
        //
        $('#phonesList').on('click','.delete',function(){
            var phone_id = $(this).data('id');
            // let's remind the user which phone they are deleting
            var phone_id = $(this).data('id');
            var phone_manufactuer = $(this).data('manufactuer');
            var phone_model = $(this).data('model');
            var phone_price = $(this).data('price');
            $("#deleteModal .modal-body").html("<span class=\"font-weight-bold\">Are you sure you want to delete Phone: </span><span class=\"font-italic\">"+phone_model+"... ("+phone_manufactuer+")</span><span class=\"font-weight-bold\">?</span>");
            $('#deleteModal').modal('show');
            $('.id').val(phone_id);
        });
        //
        // Handle Delete Modal form submit using AJAX DELETE
        //
        var deleteForm = $("#deleteForm");
        deleteForm.submit(function(e){
            // make everything look like a Single Page Application
            // consuming the RESTful API routes based on user selection
            e.preventDefault();  // prevent handling the normal form submit click!
            var id = deleteForm.find('input[name="phoneId"]').val();   
            $.ajax({
                type: deleteForm.attr('method'),
                url:  deleteForm.attr('action')+"/"+id,
                success: function (data) {
                    console.log('Deletion successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#deleteModal').modal('hide');
        });
        //
        // Search: Field Selection
        //
        $("#fieldSearchSelect").on('change',function() {
            var k = $(this).val();
            if (k == 1) {
                $("#tableFilter").attr("placeholder", "Filter Manufactuer List ...");
            }  if (k == 2) {
                $("#tableFilter").attr("placeholder", "Filter Model List ...");
            } else  {
                $("#tableFilter").attr("placeholder", "Filter Price List ...");
            }
            // $("#tableFilter").val("");
            $("#tableFilter").keyup();
        });
        //
        // Search: Table Filter
        //
        $("#tableFilter").keyup(function(){
            var filter = $(this).val().toUpperCase(); 
            $("#phonesList").find('tr').each(function(rows) {
                if (rows !==  0) {
                    var row = $(this);
                    var searching = "";
                    if ($("#fieldSearchSelect").val() == 1) {
                        searching = row.find("td:first").text().toUpperCase();
                    }  else  {
                        searching = row.find("td:first + td").text().toUpperCase();
                    }
                    if (searching.indexOf(filter) != -1) {               
                        row.show();
                    } else {
                        row.hide();
                    }
                }
            });
        });
        //
        // Search: Database search
        //
        $("#databaseSearch").on('click',function() {
            var search = $("#databaseSearchFilter").val().replace(/[|&;$%@"<>()+,^  ]/g, "");
            if (search) {
                $(location).attr('href', '/'+$("#databaseSearchSelect").val()+'/'+search);
            } else {
                $(location).attr('href', '/');
            }
        });
        //
        //  If there is a database filter then add a badge
        //
        if ($(location).attr('pathname') !== '/') {
           $('#databaseFilterNotice').text("("+$(location).attr('pathname')+")");
        }
    });
</script>
</body>
</html>